.Navbar {
  width: 100%;
  background-color: white;
  height: 50px;
  padding: 10px 30px;
  zoom: 0.9;
  
  @media (max-width: 768px) {
    padding: 10px;
  }
  }
  
  .Navbar .dropdown-container {
    position: relative;
    display: inline-block;
    @media (max-width: 768px) {
    display: block;
  }
  }
  
  .Navbar .dropdown-btn {
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
      @media (max-width: 768px) {
    padding: 5px 8px;
  }
  }
  
  .Navbar .dropdown-btn i {
    color: #3b3a3a;
    font-size: 16px;
  }
  
  .Navbar .dropdown-btn div {
    font-size: 14px;
    margin-bottom: -1px;
    padding: 0px 5px;
  }
  
  .Navbar .dropdown-btn:hover {
    background-color: #f1f1f1;
  }
  
  .Navbar .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    border: 1px solid #ccc;
    z-index: 1;
    top: 125%;
    left: 0;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
     @media (max-width: 768px) {
    top: 50px;
    width: 200px;
  }
  }
  
  
  .Navbar .dropdown-content .Grouping,
  .Navbar .dropdown-content .Ordering {
    display: flex;
    justify-content: space-between;
    align-items: center;
     @media (max-width: 768px) {
    flex-direction: column;
    label,
    select {
      margin-bottom: 10px;
    }
  }
  }
  
  .Navbar .dropdown-content label {
    font-size: 14px;
    color: #8a8585;
    font-weight: 600;
  }
  
  .Navbar .dropdown-content select {
    border-radius: 0 !important;
    padding: 3px;
    padding-right: 20px;
    border: 1px solid #ccc;
  }
  
  .Navbar .dropdown-content div {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }